@using BoardgameBank.Controllers;
@model ListViewModel

@{
    ViewBag.Title = "Games List";
}

<!-- Games Table -->
<section id="gametable">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Game</th>
                <th scope="col">Players</th>
                <th scope="col">Time</th>
                <th scope="col" class="hiderating">
                    Rating
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var boardgame in Model.Boardgames)
            {
                <tr>
                    <th scope="row">@boardgame.GameName</th>
                    <td>@boardgame.PlayerCounts.Min() to @boardgame.PlayerCounts.Max()</td>
                    <td>@boardgame.PlayTime</td>
                    <td class="hiderating">@boardgame.Rating</td>
                    <td>
                        <img class="smallbutton" src="/images/edit.svg" onclick="location.href='@Url.Action("GameInfo", new { id = boardgame.Id })'">
                        <img class="smallbutton" src="/images/delete.svg" onclick="location.href='@Url.Action("Delete", "Boardgames", new { id = boardgame.Id })'">
                        <div class="buttonholder">
                            <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("GameInfo", new { id = boardgame.Id })'">Edit</button>
                            <button type="submit" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "Boardgames", new { id = boardgame.Id })'">Delete</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>