<!doctype html>
<html lang="en">

<head>
    <title>BGB - @ViewBag.Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fav Icon -->
    <link rel="shortcut icon" href="/images/favicon/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/images/favicon/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/images/favicon/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/images/favicon/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/images/favicon/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16.png">


    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/media.css" />

    <!-- Google Font -->
    <link href="http://fonts.googleapis.com/css?family=Oswald:700|Droid+Serif:400,700italic" rel="stylesheet" type="text/css" />
</head>

<body>
    <!-- Navigation -->
    <section id="navigation">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark underline">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img id="navlogo" src="/images/vault.svg" alt="Vault Logo">
                    <span id="title">Board Game Bank</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample07">
                    <ul class="navbar-nav mr-auto">
                        <!--TODO: Figure out how to make current page active-->
                        <li class="nav-item">
                            @Html.ActionLink("Home", "Search", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Add", "AddGame", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("List", "GamesList", null, new { @class = "nav-link" })
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <!--**********************************************************************************************************-->

    <div class="body-content">
        @RenderBody()
    </div>

    <!--**********************************************************************************************************-->

    <footer>
        <div class="footerborder fixed-bottom">
            <p>Board Game Bank &copy; @DateTime.Now.Year</p>
            <div>
                <p class="iconcredit">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from 
                <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by 
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                </p>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
</body>

</html>